{% load static %}
<html>

<head>
	<title>Marketing Analytics</title>
	<meta name="description" content="" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

	<!-- css -->
	<!-- <link rel="stylesheet" type="text/css" href="css/style.css" /> -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

	<!-- Jquery  -->
	<script src="{% static 'js/jquery-3.4.1.js' %}"></script>
	<!-- Bootstrap  -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Echart -->
	<script src="{% static 'js/echarts.min.js' %}"></script>
	<script src="{% static 'js/echarts-gl.min.js' %}"></script>
 	<!-- ga charts -->
	<script src="{% static 'js/charts_js/js_visitor_chart.js' %}"></script>
	<script src="{% static 'js/charts_js/js_pageView_chart.js' %}"></script>
	<script src="{% static 'js/charts_js/js_conversion_chart.js' %}"></script>
	<script src="{% static 'js/charts_js/js_city_chart.js' %}"></script>
	<script src="{% static 'js/charts_js/js_top_5_pages.js' %}"></script>
	<script src="{% static 'js/charts_js/js_age_group_chart.js' %}"></script>
	<script src="{% static 'js/charts_js/js_gender_chart.js' %}"></script>
	<script src="{% static 'js/charts_js/js_ajax_call.js' %}"></script>

</head>

<body>

	<header>
		<div class="container">
			<div class="dm_header_logo">
				<img src="{% static 'images/media/tentrailslogo1-1.png' %}" />
			</div>
			<div class="dm_header_headtxt">
				<h1>Marketing Analytics Dashboard</h1>
			</div>
			<div class="dm_header_icons">
				<div><img src="{% static 'images/icons/ico_analytics1.png' %}" /></div>
				<div><img src="{% static 'images/icons/ico_calander.png' %}" /></div>
				<div><img src="{% static 'images/icons/ico_setting1.png' %}" /></div>
				<div><img src="{% static 'images/icons/ico_logout1.png' %}" /></div>
			</div>
			<div class="clear"></div>
		</div>
	</header>


	<section class="container">
		<!-- Breadcrumb view -->
		<div class="dm_breadcrumb">
			<h3>Web Analytics Overview - <span>Q1 2020</span></h3>
		</div>
		<!-- Breadcrumb view -->
	</section>


	<section class="container">
		<!-- Summary view -->
		<div class="dm_summary">
			<div class="dm_summary_box">
				<p>Visits</p>
				<h2>12.38K</h2>
			</div>

			<div class="dm_summary_box">
				<p>Bounce Rate</p>
				<h2>10.2M</h2>
			</div>

			<div class="dm_summary_box">
				<p>Avg Page Views</p>
				<h2>38.90M</h2>
			</div>

			<div class="dm_summary_box">
				<p>Avg Duration</p>
				<h2>15.12K</h2>
			</div>

			<div class="dm_summary_box">
				<p>New Users</p>
				<h2>20.28K</h2>
			</div>


			<div class="clear"></div>
		</div>
		<!-- Summary view -->
	</section>



	<section class="dm_chart_contain">
		<!-- Charts view -->
		<div class="container">
			<div class="dm_chartbox dm39prcnt_box">
				<h4>Total Visits</h4>
				<div class="dm_chart_area">
					<!-- chat -->
					<div id="visitor_chart_container" style="width: 100%; height: 100%;"></div>
				</div>
			</div>

			<div class="dm_chartbox dm39prcnt_box">
				<h4>Page Views</h4>
				<div class="dm_chart_area">
					<!-- chat -->
					<div id="pageview_chart_container" style="width: 100%; height: 100%;"></div>
				</div>
			</div>

			<div class="dm_chartbox dm22prcnt_box">
				<h4>Top 5 Pages</h4>
				<div class="dm_chart_area">
					<!-- chat -->
					<div id="top5_chart_container" style="width: 100%; height: 100%;"></div>
				</div>
			</div>

			<div class="dm_chartbox dm40prcnt_box">
				<h4>Demographics</h4>
				<div class="dm_chart_area">
					<div style="width: 100%; height: 30%;">
						<div class="dm_male">
							<img src="images/icons/male.png" id="men_png" />
							<div class="right" id="male_percentage_text">
								<h1 id="male">41<span>%</span></h1>
								<h6>Male</h6>
							</div>
						</div>
						<div id="gender_charts_ga" style="width: 33%; height: 100%; float: left;"></div>
						<div class="dm_famale">
						    <img src="{% static 'images/icons/female.png' %}" id="female_png" />
						    <div class="left" id="female_percentage_text">
						        <h1 id=female>59<span>%</span></h1>
						        <h6>Female</h6>
						    </div>
						</div>
					</div>

					<div style="width: 100%; height: 70%;">
						<div id="age_gender_charts_ga" style="width: 100%; height: 100%;"></div>
					</div>
				</div>
			</div>

			<div class="dm_chartbox dm30prcnt_box">
				<h4>Conversion Rate By Source</h4>
				<div class="dm_chart_area">
					<!-- chat -->
					<div id="conversion_chart_container" style="width: 100%; height: 100%;"></div>
				</div>
			</div>

			<div class="dm_chartbox dm30prcnt_box">
				<h4>By City</h4>
				<div class="dm_chart_area">
					<!-- chat -->
					<div id="city_chart_container" style="width: 100%; height: 100%;"></div>
				</div>
			</div>

			<div class="clear"></div>
		</div>
		<!-- Charts view -->
	</section>


	<script>
		var axis_color = "#757575"
		var axis_opacity = 0.5
		
		$(document).ready(function(){
			visitor_chart()
			pageView_chart()
			conversion_rate_chart()
			city_chart()
			top_5_pages_chart()
			gender_chart()
			age_group_chart()
		});
	</script>

</body>

</html>
